@media(min-width:500px){
    #contenido{
        min-height: 800vh;
        display: flex;
    }
    
    #formulario{
    
        width: 50%;
        text-align: center;
        margin-top: 10% !important;
        margin: auto;
        z-index: 2;
        font-size: 1.1rem;
    }
    
    .bordes{
        height: 30vh;
        margin-top: 10% !important;
        filter: brightness(1);
        mix-blend-mode:multiply;
        z-index: 1;
    
    }
    
    .bordes.invertido{
        margin-top: 10% !important;
        transform: scaleX(-1);
    }
    
    #inferior{
        visibility: hidden;
        height: 0;
        width: 0%;
    }

    
    

}